
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns: repeat(2,100px);
	grid-template-rows: 100px 100px;
	background-color:red;
	width:200px;
}
/* .item{
background-color:orange;
	padding:20px;
	margin:20px;
	
	
} */